<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/reusable :: header(#{existingUser.header.title})">

</head>
<body>

<nav th:replace="fragments/reusable :: navigationBar"></nav>


<div class="container">

    <div class="row">
        <div class="col-4">


            <label th:text="#{comments.label.name}">Pavadinimas</label>

            <div th:if="${newComment.blogRecord.id}"></div>
            <div th:text="${newComment.blogRecord.name}"></div>
            <div th:text="${newComment.blogRecord.user}"></div>

            <div th:if="${newComment.id}">
                <form th:method="POST"
                      th:object="${newComment}"
                      th:action="@{'/records/private/updateComment/' + ${newComment.id}}">

                    <textarea rows="10" cols="60" class="form-control"
                              th:field="${newComment.content}"/>
                    <input type="hidden" th:field="*{blogRecord}" id="blogId"/>

                    <button type="submit"
                            class="btn btn-primary"
                            th:text="#{comments.submit.button}">Sukurti komentarą</button>
                </form>
            </div>

            <div th:unless="${newComment.id}">
                <form th:method="POST" th:object="${newComment}"
                      th:action="@{'/records/private/addComment/' + ${newComment.blogRecord.id}}">

                    <textarea rows="10" cols="60" class="form-control"
                           th:field="${newComment.content}"/>
                    <input type="hidden" th:field="*{blogRecord}" id="blogId"/>

                    <button type="submit"
                            class="btn btn-primary"
                            th:text="#{comments.submit.button}">Sukurti komentarą</button>
                </form>
            </div>


        </div>
    </div>
</div>

</body>
</html>