<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/reusable :: header(#{existingUser.header.title})">
<body>

<nav th:replace="fragments/reusable :: navigationBar"></nav>

<!--    pridedam komentaro formą -->

<h1> Hi I am comment</h1>

<div class="container">


<form method="post" th:object="${newComment}" >
    <label>Pavadinimas</label>
<!--    <input type="text" placeholder="Naujo įrašo pavadinimas" th:field="*{name}"/>-->
    <input type="text" placeholder="testLabel" class="form-control" th:field="${newComment.content}">

    <button type="submit" class="btn btn-primary">Sukurti komentarą</button>
</form>

</div>
<!--<form method="post" th:object="${comment}" >-->

<!--&lt;!&ndash;    Čia reikia pasakyti kuriame bloge darai komentarą. &ndash;&gt;-->

<!--    <label>Pavadinimas</label>-->
<!--    <input type="text" placeholder="Naujo įrašo pavadinimas" th:field="*{name}"/>-->
<!--    <br>-->

<!--    <label>Vartotojo vardas</label>-->
<!--    <input type="text" placeholder="Vartotojo vardas" name="vardas" th:field="*{username}"/>-->
<!--    <br>-->

<!--    <label>Turinys</label>-->
<!--    <br>-->
<!--    <textarea rows="20" cols="60" name="comment" th:field="*{text}">-->
<!--    </textarea>-->
<!--    <br>-->

<!--    <button type="submit">Sukurti komentarą</button>-->
<!--    <br>-->

<!--</form>-->




</body>
</html>