<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<head th:replace="fragments/reusable :: header(#{existingUser.header.title})">-->
<!--</head>-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<nav th:replace="fragments/reusable :: navigationBar"></nav>

<div class="container p-5">
    <div class="row">
        <div class="col border">


<!--            ***************** TEST *******              -->

<!-- *******************************************         -->
            <!--  piešiu su bootstrapu-->
            <div class="p-2" th:object="${blogRecordToView}">

                <div class="p-2 m-1 d-flex justify-content-center font-weight-bold"
                     th:text="#{view.Blog.record.title}">Record name>
                </div>
                <div class="p-2 m-2 d-flex justify-content-center border" th:text="${blogRecordToView.name}">
                    Pavadinimas>
                </div>
                <div class="p-2 m-1 d-flex justify-content-center font-weight-bold"
                     th:text="#{view.Blog.record.author}">Record name>
                </div>
                <div class="p-2 m-2 d-flex justify-content-center border" th:text="${blogRecordToView.username}">
                    Vartotojo vardas
                </div>
                <div class="p-2 m-1 d-flex justify-content-center font-weight-bold"
                     th:text="#{view.Blog.record.content}">Record name>
                </div>
                <div class="p-2 m-2 d-flex justify-content-center border" th:text="${blogRecordToView.text}">
                    Pavadinimas
                </div>
            </div>

            <div sec:authorize="isAuthenticated()">

                <div sec:authorize="hasRole('USER') or hasRole('ADMIN')" class="d-inline">
                <span>
                    <form th:action="@{'/records/private/delete/' + ${blogRecordToView.id}}" th:method="POST">
                    <button type="submit"
                            class="btn btn-primary"
                            th:text="#{view.Blog.record.delete.button}">
                        Delete
                    </button>
                </form>

                <a class="btn btn-primary"
                   th:href="@{'/records/private/update/' + ${blogRecordToView.id}}"
                   th:text="#{view.Blog.record.update.button}">Update</a>
                </span>



                </div>
            </div>



            <h3 class="mt-5" th:text="#{view.Blog.record.comment}">Comments</h3>

            <div sec:authorize="isAuthenticated() and hasRole('USER') or hasRole('ADMIN')">
                <form th:action="@{'/records/private/addComment/' + ${blogRecordToView.id}}" th:method="get">
                    <button type="submit"
                            class="btn btn-primary"
                            th:text="#{view.Blog.record.add.comment.button}">
                        Add Comment
                    </button>
                </form>

            </div>
            <!--            associatedComments-->

            <div class="border">
                <div th:each="comment: ${associatedComments}">
                    <div class="border">
                        <div th:text="${comment.user}">Username</div>
                        <div th:text="${comment.content}">Content</div>

                        <!--                    TODO čia dabar dirbu darau delete update mygtukus -->

                        <form th:action="@{'/records/private/updateComment/' + ${comment.id}}"
                              th:method="GET">
                            <button type="submit"
                                    class="btn btn-primary"
                                    th:text="#{view.Blog.comment.update.button}">
                                Update
                            </button>
                        </form>

                        <form th:action="@{'/records/private/deleteComment/' + ${comment.id}}"
                              th:method="POST">
                            <button type="submit"
                                    class="btn btn-primary"
                                    th:text="#{view.Blog.comment.delete.button}">
                               Delete
                            </button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>

    </div>


</div>

<script th:src="@{/js/language.js}" type="text/javascript"></script>
</body>

</html>